<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-medium">
        <div class="content-header">
          Мэдэгдэл
        </div>
        <div class="content-body">
          <div class="agreement-container">
            <div class="agreementContainer">
              <p><b>Нэг. Ерөнхий зүйл</b></p>
              <p>1.1. Нийслэлийн тээврийн хэрэгслийн цахим үйлчилгээний нэгдсэн систем <a href="https://smartcar.mn/"
                  target="_blank" rel="noopener noreferrer">Smartcar.mn</a> нь иргэнд тээврийн хэрэгслийн төрөл бүрийн
                үйлчилгээг хүргэх зорилготой албан ёсны сайт юм.</p>
              <p>1.2. Энэхүү үйлчилгээний нөхцөл нь иргэн төрийн үйлчилгээг цахим хэлбэрээр авахтай холбогдсон бүх
                харилцааг
                зохицуулах бөгөөд үйлчилгээ хүлээн авахаас өмнө хүлээн зөвшөөрч баталгаажуулсны үндсэн дээр хэрэгжинэ.
              </p>
              <p>1.3. <a href="https://smartcar.mn/" target="_blank" rel="noopener noreferrer">Smartcar.mn</a>&nbsp;сайт
                нь 24
                цагийн ажиллагаатай байна.</p>
              <p><b>Хоёр. Төлбөр төлөлтийн шимтгэлийн тухай</b></p>
              <p>2.1. Төрийн үйлчилгээний төлбөрийг дамжуулах Монгол банкны цахим гүйлгээний систем ашиглах бол:</p>
              <p>2.1.1. Төлбөрийн карт нь зөвхөн /₮/ -төгрөгийн болон VISA карт, 4, 5, 9-өөр эхэлсэн дотоодын карт
                байна.</p>
              <p>2.1.2. Төрийн үйлчилгээ, татвар хураалтын онлайн төлөлтийн шимтгэл нь Монгол банкны ерөнхийлөгчийн 2017
                оны
                А-325 дугаар тушаалын дагуу “Төрийн үйлчилгээний төлбөрийг дамжуулсны шимтгэл 300 төгрөгийг харилцагчаас
                авах”
                болно.<br>Журамтай дараах холбоосоор танилцах боломжтой.<a
                  href="https://www.mongolbank.mn/documents/regulation/paymentsystem/2017/20171225_rate.pdf"
                  target="_blank" rel="noopener noreferrer">PDF файл</a></p>
              <p>2.2. Монгол банкны онлайн төлбөр төлөлтийн системээс бусад онлайн төлбөрийн системээр төлөх бол тухайн
                байгууллагын үйлчилгээний шимтгэлийг мөрдлөг болгоно. Үүнд:</p>
              <p>2.2.1. Qpay үйлчилгээ ашиглан төлбөр төлөх тохиолдолд данс хуваарилалтын шимтгэл 100 /нэг зуун/ төгрөг
                +
                бусад банкны цахим банк үйлчилгээний шимтгэл.</p>
              <p>2.3. Тээврийн хэрэгслийн татвар, төлбөрийн мэдээлэл зөрүүтэй байвал харьяа дүүргийнхээ татварын хэлтэст
                өөрийн биеэр хандана. Холбоо барих утсыг сайтын холбоо барих цэсээс авах боломжтой.</p>
              <p>2.4. Төлбөр төлөлтийн явцад ойлгомжгүй зүйл гарвал төлбөрийн карт гаргасан банкны лавлахаас тодруулах
                боломжтой.</p>
              <p>2.5. Төлбөр төлөлт амжилттай хийгдсэн үед төлбөрийн баримтыг 2 минутын дараа хэвлэж авах боломжтой.</p>
              <p><b>Гурав. Системийн хэвийн аюулгүй ажиллагааг хангах тухай</b></p>
              <p>3.1. Системийн хэрэглэгч системийн нууцлал, аюулгүй байдал, найдвартай ажиллагааны талаар санал,
                гомдлыг
                үйлчилгээ үзүүлэгчид гаргах эрхтэй.</p>
              <p>3.2. Системийн эзэмшигч нь системийн арчилгаа, аюулгүй найдвартай байдал, хэрэглэгчийн мэдээлэл болон
                үйлчилгээтэй холбоотой мэдээллийг хадгалах, хамгаалах, нөөцлөх зэрэг үйл ажиллагааны жигд байдлыг хангаж
                ажиллана.</p>
              <p>3.3. Нэгдсэн цахим үйлчилгээний системд онлайн төлөлтийн үед хувийн мэдээллээ үнэн зөв оруулсан байна.
              </p>
              <p>3.4. Үйлчилгээ үзүүлэгч байгууллагын сүлжээ, сервер, компьютерт хууль бусаар халдах, үйлчилгээнд
                эвдрэл,
                саатал учруулах оролдлого хийсэн тохиолдолд Монгол Улсын Эрүүгийн хуулийн дагуу хариуцлага хүлээнэ.</p>
              <p><b>Дөрөв. Бусад</b></p>
              <p>4.1. Тээврийн хэрэгслийн нэгдсэн цахим үйлчилгээний системийн зохиогчийн эрх нь Монгол Улсын зохиогчийн
                эрхийн тухай хуулиар хамгаалагдана.</p>
              <p>4.2. Иргэнээс ирүүлсэн гомдол, маргаантай асуудлыг портал сайтын үйлчилгээний нөхцөл, нууцлалын
                баталгаа
                болон Монгол Улсын хууль дүрмийн дагуу шийдвэрлэнэ.</p>
              <p>4.3. Тээврийн хэрэгслийн албан татвар, агаарын бохирдлын төлбөр, зам ашигласны төлбөрийн нэхэмжлэх
                Татварын
                удирдлагын нэгдсэн системийн шинэчлэл хийсэнтэй холбоотойгоор нэг дор үүсээгүй байж болох бөгөөд
                нэхэмжлэх
                үүссэн тухай бүр төлөх боломжтойг анхаарна уу.</p>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="agree">
              <label class="form-check-label" for="agree">Үйлчилгээний нөхцөлийг зөвшөөрч байна.</label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" (click)="openModal('custom-modal-1')">Төлбөр төлөх</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal id="custom-modal-1">
  <div class="modal">
    <div class="modal-body">
      <h1>A Custom Modal!</h1>
      <button (click)="closeModal('custom-modal-1');">Close</button>
    </div>
  </div>
  <div class="modal-background"></div>
</app-modal>
