<div class='back'>
  <div class='container'>
    <div style="padding-bottom: 15px;"></div>
    <div class='row'>
      <div class="col">
        <div class="pad-bottom-200"></div>
        <div class="alert alert-info">
          <p>
            Та доорх 3 төрлөөр бүртгүүлсэн аль ч эрхээрээ нэвтэрч орох боломжтой
          </p>
          <ol>
            <li>Даатгуулагчид зориулсан вэб сайтад бүртгүүлсэн эрхээрээ</li>
            <li>Нийгмийн даатгалын гар утасны аппилкэйшнд бүртгүүлсэн эрхээрээ</li>
            <li>ДАН системээр /Тоон гарын үсгээр, нэг удаагийн нууц үгээр/</li>
          </ol>
        </div>
      </div>
      <div class="col-md-4">
        <div class="login-logo text-center d-none d-md-block">
          <img class="login-logo-img" src="../../assets/img/logo.svg" alt="" height="100px">
          <div class="login-logo-text">Даатгуулагчид зориулсан вэб</div>
        </div>
        <div class="login-form">
          <div class='form-group full-width'>
            <div class="row login-form-input form-control">
              <span class="col-1">
                <i class="ion-person login-form-input-icon"></i>
              </span>
              <span class="col">
                <input class="login-form-input-text" placeholder="Имэйл хаяг" type="text" [(ngModel)]="userid">
              </span>
            </div>
          </div>
          <div class="row login-form-input form-control" *ngIf='status==1'>
            <span class="col-1">
              <i class="ion-locked login-form-input-icon"></i>
            </span>
            <span class="col">
              <input class="login-form-input-text" placeholder="Нууц үг" type="password" [(ngModel)]="password">
            </span>
          </div>

          <div class="alert alert-danger" *ngIf="errormessage!=undefined" [innerHTML]='errormessage'></div>
        </div>
        <button class="login-btn disabled" [disabled]="loading" (click)='check()' *ngIf='status==undefined'>
          <span *ngIf="loading">Уншиж байна...</span>
          <span *ngIf="!loading">Үргэлжлүүлэх</span>
        </button>
        <button class="login-btn disabled" [disabled]="loading" (click)='Login()' *ngIf='status==1'>
          <span *ngIf="loading">Уншиж байна...</span>
          <span *ngIf="!loading">Нэвтрэх</span>
        </button>
        <div style="text-align: center;margin-top: 15px;">
          <a [href]="dan_url">ДАН-аар нэвтрэх</a>
        </div>
        <div style="padding: 15px;"></div>
        <div class="row" style="width: 100%">
          <div class="col-6" style="text-align: center; padding: 0; margin: 0;">
            <a class='login-form-link' routerLink="/account/register">Шинээр бүртгүүлэх</a>
          </div>
          <div class="col-6" style="text-align: center; padding: 0; margin: 0;">
            <a class="login-form-link" routerLink="/account/resetpassword">Нууц үг сэргээх</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
