<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-large">
        <div class="content-header">Жирэмсэн, амаржсны тэтгэмж авах хүсэлт</div>
        <div class="content-body">
          <div class="row">
            <div class="col"></div>
            <div class="col-md-8 col-sm-12">
              <div>
                <div class="border-bottom mb-3 border-info">
                  <label class="text-uppercase">Даатгуулагчийн ерөнхий мэдээлэл</label>
                </div>

                <div class="form-row mb-2">
                  <div class="col-md-6 col-sm-12">
                    <label>Ургийн овог:
                      <div class="font-weight-bold">
                        <app-inline-loader *ngIf="isloading"></app-inline-loader>
                        {{people.surName}}
                      </div>
                    </label>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label>Эцэг/эх/-ийн нэр:
                      <div class="font-weight-bold">
                        <app-inline-loader *ngIf="isloading"></app-inline-loader>
                        {{people.fatName}}
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-md-6 col-sm-12">
                    <label>Даатгуулагчийн нэр:
                      <div class="font-weight-bold">
                        <app-inline-loader *ngIf="isloading"></app-inline-loader>
                        {{people.benName}}
                      </div>
                    </label>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label>Регистрийн дугаар:
                      <div class="font-weight-bold">
                        <app-inline-loader *ngIf="isloading"></app-inline-loader>
                        {{people.regID}}
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-sm-12">
                    <label>Хаяг:
                      <div class="font-weight-bolder">
                        <app-inline-loader *ngIf="isloading"></app-inline-loader>
                        {{people.address}}
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-md-6 col-sm-12">
                    <label>Утас:</label>
                    <input type="number" [(ngModel)]="phone" class="form-control form-control-sm" placeholder="Утас" />
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <label>Цахим шуудан:</label>
                    <input type="email" [(ngModel)]="email" class="form-control form-control-sm"
                      placeholder="Цахим шуудан" />
                  </div>
                </div>
              </div>

              <div class=" border-bottom mb-3 mt-4 border-info">
                <label class="text-uppercase">Тэтгэмж авах нийгмийн даатгалын хэлтэс болон банк, дансы
                  мэдээлэл</label>
              </div>
              <div class="form-row mb-2">
                <div class="col-sm-12">
                  <label>Тэтгэмж авах нийгмийн даатгалын хэлтэс:</label>
                  <select class="form-control form-control-sm" [(ngModel)]="Aimag" disabled>
                    <option [ngValue]="item.id" disabled *ngFor="let item of AimagList">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-row mb-2">
                <div class="col-md-6 col-sm-12">
                  <label>Банк:</label>
                  <select class="form-control form-control-sm" [(ngModel)]="Bank">
                    <option value="17">Хаан банк</option>
                    <option value="2">Капитал банк</option>
                    <option value="3">Худалдаа хөгжлийн банк</option>
                    <option value="4">Голомт банк</option>
                    <option value="14">Терийн банк</option>
                    <option value="11">Капитрон Банк</option>
                    <option value="12">Хас банк</option>
                    <option value="10">Үндэсний Хөрөнгө Оруулалтын Банк</option>
                    <option value="13">Чингис Хаан Банк</option>
                    <option value="18">Богд банк</option>
                  </select>
                </div>
                <div class="col-md-6 col-sm-12">
                  <label>Дансын дугаар:</label>
                  <input type="number" [(ngModel)]="Account" class="form-control form-control-sm"
                    placeholder="Дансын дугаар">
                </div>
                <label class="text-danger"><strong>АНХААРУУЛГА:</strong> Мөнгө хүлээн авах данс нь таны нэр дээрх,
                  төгрөгийн данс байх ёстой. </label>
              </div>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" (click)="isAgree()" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Мэдээллээ үнэн зөв бөглөсөн болно.
                  </label>
                </div>
              </div>
              <div class="mt-3 mb-5 pb-5">
                <button class="btn btn-primary" type="submit" [disabled]="!isAgreed" (click)="onSave()">Хүсэлт
                  илгээх</button>
              </div>
            </div>

            <div class="col"></div>

          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<app-modal id="messageModal">
  <div class="imodal">
    <div class="modal-body">
      <div class="modal-header">
        Мэдэгдэл
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="message-body p-3 text-center">
        {{errormessage}}
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="btnOK()">Ok</button>
      </div>
    </div>
  </div>
  <div class="imodal-background"></div>
</app-modal>
<!-- Modal  -->