<div class="row">
    <div class="col-md-12">
        <div class="content-container">
            <div class="content-large">
                <div class="content-header">
                    <span *ngIf="!bextend">Гэрээний бүртгэл баталгаажуулах</span>
                    <span *ngIf="bextend">Гэрээний сунгалт баталгаажуулах</span>
                </div>
                <div class="content-body">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-5">Оршин суугаа улс</div>
                            <div class="col-md-6">{{ countryName }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">Хугацаа</div>
                            <div class="col-md-6">{{ contract.Length }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">Сарын орлого</div>
                            <div class="col-md-6">{{ contract.Income }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">Ажил, мэргэжил</div>
                            <div class="col-md-6">{{ contract.Class.Name }}</div>
                        </div>
                        <div class="contact-clause">
                            <h5>Хоёр. Нийгмийн даатгалын байгууллага ( байцаагч ) -ийн эрх, хүлээх үүрэг</h5>
                            <p>2.1. Нийгмийн даатгалын байгууллага нь гэрээ анх байгуулсан болон хугацааг нь сунгах өдрөөс үл хамааран энэ гэрээний 1.7-д заасан хөдөлмөрийн хөлс, орлогоос тооцож гэрээ байгуулсан сарын нийгмийн даатгалын шимтгэлийг даатгуулагчаар бэлэн бусаар бүрэн төлүүлнэ.</p>
                            <p>2.2. Нийгмийн даатгалын байцаагч нь даатгуулагч (иргэн)-ийг даатгуулах хүсэлтээ гарган эхний сарын шимтгэлээ төлсөн тохиолдолд нийгмийн даатгалд даатгуулсан тухай гэрээг байгуулж, нэгдсэн бүртгэлд бүртгэнэ.</p>
                            <p>2.3. Нийгмийн даатгалын байгууллагын харилцах дансанд даатгуулагчийн төлсөн шимтгэлийн хэмжээг нийгмийн даатгалын дэвтэрт бичин, мэдээллийн санд бүртгэж, тооцоо хийн, хянаж баталгаажуулна.</p>
                            <p>2.4. Даатгуулагч шимтгэлээ энэ гэрээний 1.9-д тохирсон хугацаандаа төлөөгүй, эсвэл дутуу төлсөн тохиолдолд Нийгмийн даатгалын тухай хуульд заасны дагуу дутуу төлсөн буюу хугацаандаа төлөгдөөгүй шимтгэлийг нөхөн төлүүлж, шимтгэлийн дүнгээс хугацаа хэтрүүлсэн хоног тутамд 0,3 хувийн алданги ногдуулна.</p>
                            <p>2.5. Нийгмийн даатгалын байгууллага (байцаагч) нь гэрээгээр тохиролцсон шимтгэлийг хугацаанд нь төлүүлэх талаар даатгуулагчид урьдчилан мэдэгдэх, сануулах (утсаар, цахим шуудангаар, үүрэн холбооны оператор компаниар дамжуулан мессеж илгээх, гар утасны аппликейшнээр дамжуулах зэрэг) арга хэмжээ авна.</p>
                            <p>2.6. Даатгуулагч нийгмийн даатгалын шимтгэл тооцуулах орлогоо хөдөлмөрийн хөлсний доод хэмжээтэй тэнцүү байхаар мэдүүлсэн тохиолдолд хөдөлмөрийн хөлсний доод хэмжээ өөрчлөгдөх бүрт нийгмийн даатгалын байцаагч даатгуулагчид мэдэгдэн гэрээнд өөрчлөлт оруулна.</p>
                            <p>2.7. Энэ гэрээний 2.6-д заасны дагуу гэрээнд өөрчлөлт оруулах тохиолдолд нийгмийн даатгалын шимтгэл ногдуулах хөдөлмөрийн хөлсний доод хэмжээтэй тэнцүү байхаар орлогоо мэдүүлсэн даатгуулагч өөрөө хүсвэл нийгмийн даатгалын шимтгэл ногдуулах орлогоо нэмэгдүүлэн өөрчлүүлж болно.</p>
                            <p>2.8. Даатгуулагч өөр аймаг (дүүрэг), суманд шилжих, ажилд орох, өндөр насны тэтгэвэр тогтоолгох тохиолдолд шимтгэлийн тооцоог дуусгаж, нийгмийн даатгалын дэвтэрт бичилт хийж, баталгаажуулан сайн дураар даатгуулсан гэрээг дуусгавар болсонд тооцож, даатгуулагчийн хувийн хэрэг, холбогдох баримт бичгийг архивт шилжүүлэн хадгална.</p>
                            <p>2.9. Даатгуулагчийн төлөх нийгмийн даатгалын шимтгэлийн төлбөрийг нийгмийн даатгалын байцаагч бэлэн мөнгөөр авахыг хориглоно.</p>
                            <h5>Гурав. Даатгуулагчийн эрх, хүлээх үүрэг</h5>
                            <p>3.1. Даатгуулагч нь гэрээний хугацаанд мөрдөгдөх нийгмийн даатгалын шимтгэл тооцох сарын хөдөлмөрийн хөлс, түүнтэй адилтгах орлогоо энэ гэрээний 1.7-д заасны дагуу тохиролцож, түүнд ногдох шимтгэлийг энэхүү гэрээний 1.8-д заасан хувь хэмжээгээр тооцож, энэхүү гэрээний 1.9-д заасан хугацаагаар хавсралтад заасан хугацаагаар гэрээний хавсралтад заасан хуваарийн дагуу бэлэн бусаар, сар (улирал, хагас жил, жил) бүр төлнө.</p>
                            <p>3.2. Даатгуулагчийн өөрөө мэдүүлсэн сарын орлогын хэмжээ нь тухайн үед мөрдөж буй хөдөлмөрийн хөлсний доод хэмжээнээс багагүй, нийгмийн даатгалын шимтгэл төлөх хөдөлмөрийн хөлс, түүнтэй адилтгах орлогын сарын дээд хэмжээнээс ихгүй байна.</p>
                            <p>3.3. Даатгуулагч шимтгэл төлөх хугацаагаа гэрээнд тусгаж, шимтгэлээ сар бүр төлөхөөр гэрээ байгуулсан бол сар бүр, улирлаар бол улирлын эхний сард, хагас жилээр бол хагас жилийн эхний сард багтааж төлнө. Харин жилээр гэрээ байгуулж шимтгэлийг жилээр төлөх бол энэхүү гэрээний 2.1, 3.4-т зааснаар сарын шимтгэлийг гэрээ байгуулах үед заавал төлж, үлдсэн төлбөрийг гэрээний хугацаанд багтаан жилийн аль ч сард нэг удаа төлөхөөр гэрээнд тусгаж болно.</p>
                            <p>3.4. Даатгуулагч нь гэрээ байгуулах, хугацааг нь сунгах өдрөөс үл хамааран энэхүү гэрээний 1.7-д заасан хөдөлмөрийн хөлс, орлогоос тооцон тухайн сарын нийгмийн даатгалын шимтгэлийг бүрэн төлнө.</p>
                            <p>3.5. Энэхүү гэрээний 2.6-д зааснаас бусад тохиолдолд гэрээний хүчинтэй хугацаанд шимтгэл тооцох орлогын хэмжээг өөрчлөхгүй. Хөдөлмөрийн хөлсний доод хэмжээгээр тооцож шимтгэл төлж байсан даатгуулагч шимтгэл төлөх орлогын доод хэмжээ өөрчлөгдсөнөөс үүссэн шимтгэлийн зөрүүг нөхөж төлнө.</p>
                            <p>3.6. Даатгуулагч гэрээний хугацааг сунгах, эсхүл энэхүү гэрээний 3.7, 3.8, 3.9-д дурдсан шалтгаанаар гэрээг дуусгавар болгох тухай хүсэлтээ даатгуулагч Нийгмийн даатгалын байгууллага (байцаагч)-д тавьж шийдвэрлүүлнэ. Гэрээний хугацааг сунгах үед гэрээний загвар шинэчлэгдсэн, тухайн үед мөрдөж буй хөдөлмөрийн хөлсний доод, нийгмийн даатгалын шимтгэл төлөх дээд хэмжээ, өмнөх шимтгэл төлөх орлогын хэмжээ, төлөх хуваарьт өөрчлөлт орсон, тухайн даатгуулагчийн ургийн овог, эцэг (эх)-ийн нэр, өөрийн нэр, регистрийн дугаар, хаяг өөрчлөгдсөн зэрэг тохиолдолд гэрээг дуусгавар болгож шинээр гэрээ байгуулна.</p>
                            <p>3.7. Өмчийн бүх хэвшлийн аж ахуй нэгж, байгууллага, төрийн, төрийн бус, шашны болон бусад байгууллага, иргэнтэй хөдөлмөрийн гэрээгээр ажилд орсон бол Нийгмийн даатгалын байгууллага (байцаагч)-д мэдэгдэж, мөн өдрөөс эхлэн гэрээний хугацааг дуусгавар болгон шимтгэлийн тооцоог дуусгана.</p>
                            <p>3.8. Гадаад улсад ажиллаж, амьдрахаар явах тохиолдолд харилцагч Нийгмийн даатгалын байгууллагад хандан шимтгэлийн тооцоог хийж, гэрээний хугацааг үргэлжлүүлэн сунгах эсэхээ харилцан тохиролцоно.</p>
                            <p>3.9. Өөр аймаг (дүүрэг), суманд шилжсэн тохиолдолд төлсөн шимтгэлийн тооцоог Нийгмийн даатгалын хэлтэс (тасаг, байцаагч)-тэй хийж гэрээний хугацааг дуусгавар болгож нийгмийн даатгалын дэвтэрт бичүүлэн баталгаажуулж авна.</p>
                            <p>3.10. Даатгуулагч гэрээний хүчинтэй хугацаанд энэхүү гэрээний 4.5-т зааснаас бусад шалтгаанаар гэрээг дуусгавар болгохгүй. Даатгуулагч шимтгэл төлсөн банкны орлогын баримтад эцэг (эх)-ийн болон өөрийн нэр, регистрийн дугаар, хэдэн оны аль сар (улирал, хагас жил, жил)-ын шимтгэл төлж байгааг тодорхой бичнэ. Дурдсан мэдээлэл,банкны нэр, дансны дугаарыг үнэн зөв бичээгүйгээс үүдэн гарах хариуцлагыг даатгуулагч хүлээнэ.</p>
                            <p>3.11. Даатгуулагч Нийгмийн даатгалын сангаас олгох тэтгэвэр, тэтгэмжийн тухай хууль, Нийгмийн даатгалын сангаас олгох үйлдвэрлэлийн осол, мэргэжлээс шалтгаалсан өвчний тэтгэвэр, тэтгэмж, төлбөрийн тухай хуульд заасан болзол нөхцөлийг хангасан бол тэтгэвэр, тэтгэмж, төлбөр, зардал авах эрхтэй.</p>
                            <p>3.12. Даатгуулагч энэхүү гэрээний 1.5-д заасан хугацаанаас богино хугацаанд өмчийн бүх хэвшлийн аж ахуй нэгж, байгууллага, төрийн, төрийн бус, шашны болон бусад байгууллага, иргэнтэй Иргэний хуулийн 343, 359 дүгээр зүйлд заасан гэрээ байгуулж ажилласан боловч энэхүү гэрээний 1.5-д заасан хугацаа дуусахаас өмнө ажлаа дуусгасан бол сайн дурын даатгалын гэрээг үргэлжлүүлэн нийгмийн даатгалын шимтгэл төлж, даатгуулж болно.</p>
                            <p>3.13. Даатгуулагч нийгмийн даатгалын шимтгэлээ банкны цахим үйлчилгээ ашиглан интернет, гар утаснаас төлж болно.</p>
                            <h5>Дөрөв. Гэрээг сунгах, дуусгавар болгох, өөрчлөлт оруулах</h5>
                            <p>4.1.Талууд харилцан тохиролцож гэрээг сунгаж болно.</p>
                            <p>4.2. Талуудын аль нэг нь гэрээг дуусгавар болгох талаар санал ирүүлээгүй боловч даатгуулагч гэрээний хугацаа дууссанаас хойш дараагийн сард багтаан энэхүү гэрээний 2.1-д заасан шимтгэл төлж, уг шимтгэл нь даатгалын санд орсон бол анх гэрээ байгуулсан хугацаагаар гэрээг сунгасанд тооцно.</p>
                            <p>4.3. Даатгуулагчийн гэрээ энэхүү гэрээний 4.1, 4.2-т зааснаар сунгагдсан боловч даатгуулагч энэхүү гэрээний 3.3-т заасан гэрээгээр тохирсон хугацаанд шимтгэлээ төлөөгүй тохиолдолд энэхүү гэрээний 2.4-т заасны дагуу хариуцлага хүлээлгэнэ.</p>
                            <p>4.4. Гэрээ сунгагдсан хугацаанд даатгуулагч шимтгэлээ огт төлөөгүй тохиолдолд гэрээг цуцлагдсанд тооцно.</p>
                            <p>4.5. Даатгуулагч ажилд орсон, өөр аймаг (дүүрэг), суманд шилжсэн, нас барсан, өндөр насны тэтгэвэр тогтоолгосон бол гэрээний хугацааг дуусгавар болгоно.</p>
                            <h5>Тав. Маргааныг шийдвэрлэх, хүлээх хариуцлага</h5>
                            <p>5.1. Гэрээг хэрэгжүүлэхтэй холбогдсон маргаантай асуудлыг харилцан зөвшилцөн шийдвэрлэх зарчим баримтлах бөгөөд шаардлагатай гэж үзвэл тогтоосон журмын дагуу Гомдлын шаардлагын зөвлөлөөр шийдвэрлүүлнэ.</p>
                            <p>5.2. Энэхүү гэрээгээр хүлээсэн үүрэг болон Нийгмийн даатгалын тухай хууль тогтоомжийг зөрчвөл холбогдох хуульд заасны дагуу зохих хариуцлага тооцно.</p>
                            <h5>Зургаа. Бусад</h5>
                            <p>6.1. Энэхүү гэрээг хоёр хувь үйлдэж нэг хувийг Нийгмийн даатгалын байгууллагад, нөгөө хувийг гэрээ байгуулсан даатгуулагчид өгөх ба хувь тус бүр хүчин төгөлдөр байна.</p>
                        </div>
                        <div class="alert alert-danger" *ngIf="errormessage != undefined">
                            {{ errormessage }}
                        </div>
                        <br>      
                        <div class="alert alert-info">
                            Та гэрээний мэдээллээ шалгана уу. Гэрээний төлбөр төлсний дараа таны
                            гэрээ баталгаажих болно
                        </div>
                        <br>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <button class="btn btn-primary mr-4" (click)="register()">
                                    Зөвшөөрөх
                                </button>
                                <a class="btn btn-default" [routerLink]="['../register']">
                                    Болих
                                </a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
