.wrapper {
  background: #e0e6e8;
  padding: 0;
  margin: 0;
}

.topbar {
  display: inline-block;
  position: relative;
  background: #fff;
  top: 0;
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 11;
}

.topbar1 {
  clear: both;
  position: relative;
  display: block;
  background: #fff;
  top: 50px;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.topbar-wrapper {
  clear: both;
  width: 100%;
  z-index: 0;
  position: relative;
}

.topbar-right {
  z-index: 100;
  /*position: fixed;
   right: 0px; */
  padding: 10px 30px;
  /* float: right; */
}

.topbar-left {
  padding: 10px 30px;
  float: left;
}

.navbar {
  margin: 0;
  padding: 0;
  display: block;
}

.navbar li {
  padding: 0px 15px;
  display: inline-block;
}

.navbar li a {
  color: #848f99;
}

.navbar li a:hover {
  color: #14aaf5;
  text-decoration: none;
}

.topbar-search {
  /* margin-top: -5px; */
  border-radius: 10px;
  height: 30px;
  width: 100%;
  max-width: 300px;
}

.input-group-addon {
  background: #fff;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.topbar-search input {
  padding-left: 0;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 10pt;
}

#sidebar {
  width: 100%;
  height: calc(100vh - 20px);
  vertical-align: top;
  background: #222b37;
  color: #fff;
}

#sidebar ul li a {
  vertical-align: top;
  text-align: left;
  color: #fff;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar .sidebar-header {
  padding: 20px;
  /* font-weight: 800; */
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

.dropdown-menu {
  left: 0;
}
