<div class="wrapper">
  <nav id="sidebar" class="sidebar" *ngIf="sidebar_collapsed">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" href="/">
        <img src="assets/img/logo.svg" alt="" width="50px">
        <!-- <span class="align-middle mr-3">Нийгмийн даатгал</span> -->
      </a>
      <ul class="sidebar-nav">
        <li class="sidebar-item active">
          <a [routerLink]="['/main/view/salary']">
            <!-- <img src="assets/img/salary.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">НД-ын шимтгэл</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a href="#pention-statement" data-toggle="collapse" class="sidebar-link" (click)="goto('/main/view/pention')">
            <!-- <img src="assets/img/old-couple.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">Тэтгэвэр</span>
          </a>
          <ul id="pention-statement" class="sidebar-dropdown list-unstyled collapse hide" data-parent="#sidebar">
            <li class="sidebar-item active">
              <a class="sidebar-link" [routerLink]="['/main/view/pention/statement']">
                Тогтоолтын хуудас
              </a>
            </li>
          </ul>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/main/view/benefit']">
            <!-- <img src="assets/img/wallet.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">Тэтгэмж</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/main/view/ndans']">
            <!-- <img src="assets/img/accounting.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">Нэрийн данс</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/main/view/sd']">
            <!-- <img src="assets/img/sdd.png" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">Сайн дурын даатгал</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/main/view/socialbook']">
            <!-- <img src="assets/img/salary.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">НД дэвтэр</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/main/view/emd']">
            <!-- <img src="assets/img/salary.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">Эрүүл мэндийн даатгал</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a [routerLink]="['/main/view/refund']">
            <!-- <img src="assets/img/salary.svg" alt="" width="15px" class='mx-1'> -->
            <span class="align-middle">Нөхөн даатгал</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main">
    <div class="topbar">
      <ul class="topbar-left float-left">
        <li>
          <a class="sidebar-toggle" (click)="toggleSidebar()">
            <i class="hamburger align-self-center"></i>
          </a>
        </li>
      </ul>
      <ul class="topbar-right float-right">
        <li>
          <span>
            <a [routerLink]="['/main/view/message']" class="btn-circle">
              <div class="btn-circle-label">
                <i class="icon ion-android-notifications"></i>
              </div>
              <span class="badge badge-circle"
                *ngIf="messageService.GetUnreadNum()>0">{{messageService.GetUnreadNum()}}</span>
            </a>
          </span>
        </li>
        <li>
          <span>
            <a href="" class="btn-circle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="btn-circle-label">
                <i class="icon ion-ios-gear-outline"></i>
              </div>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [routerLink]="['change_password']">
                <i class="icon ion-ios-locked"></i>Нууц үг солих</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)='Logout()'>
                <i class="icon ion-android-exit"></i>Програмаас гарах</a>
            </div>
          </span>
        </li>
      </ul>
    </div>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
