<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="row">
        <div class="col">
          <div class="content-medium">
            <div class="content-header">
              Мэдэгдэл
            </div>
            <div class="content-body">
              <app-inline-loader *ngIf="loading"></app-inline-loader>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="content-small">
            <div class="content-header">
              Гэрээний мэдээлэл
            </div>
            <div class="content-body">
              <app-inline-loader *ngIf="loading"></app-inline-loader>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-small">
            <div class="content-header">
              Төлбөрийн мэдээлэл
            </div>
            <div class="content-body">
              <app-inline-loader *ngIf="loading"></app-inline-loader>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
