<div class="row">
    <div class="col-md-12">
        <div class="content-container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="content-medium">
                                <div class="content-header">
                                    Мэдэгдэл
                                </div>
                                <div class="content-body">
                                    <app-alert-inline
                                        [message]="message_error_message"
                                    ></app-alert-inline>
                                    <app-inline-loader *ngIf="loading_message"></app-inline-loader>
                                    <div *ngIf="message != undefined">
                                        <div class="message-title">
                                            {{ message.title }}
                                        </div>
                                        <div class="message-date">
                                            {{ message.regdate }}
                                        </div>
                                        <div class="message-desc" [innerHTML]="message.desc"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content-small">
                                <div class="content-header">
                                    Гэрээний мэдээлэл
                                    <span class="float-right">
                                        <a
                                            id="dropdownMenuButton2"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                            class="btn-icon"
                                        >
                                            <div class="btn-circle-label">
                                                <!-- <i class="icon ion-ios-more"></i> -->
                                                <i class="icon ion-ios-printer-outline"></i>
                                            </div>
                                        </a>
                                        <div
                                            class="dropdown-menu"
                                            aria-labelledby="dropdownMenuButton2"
                                        >
                                            <a class="dropdown-item">Гэрээний түүх</a>
                                            <a class="dropdown-item">Гэрээ шилжүүлэх</a>
                                        </div>
                                    </span>
                                </div>
                                <div class="content-body">
                                    <app-alert-inline
                                        [message]="contract_error_message"
                                    ></app-alert-inline>
                                    <app-inline-loader *ngIf="loading_contract"></app-inline-loader>
                                    <div *ngIf="contract != undefined" class="list-group">
                                        <div
                                            class="list-group-item-line"
                                            *ngIf="contract.bdate != undefined"
                                        >
                                            <div class="row">
                                                <div class="col-md-5">Гэрээний дугаар</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.code }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Гэрээний урт</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.length }}
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="list-group-item-line"
                                            *ngIf="contract.bdate != undefined"
                                        >
                                            <div class="row">
                                                <div class="col-md-5">Гэрээний хугацаа</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.beginDate }} -
                                                    {{ contract.endDate }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Төлбөр төлөх давтамж</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.periodName }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Сарын орлого</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.income }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Сарын шимтгэл</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.dun }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Ажил, мэргэжил</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.class.name }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Эхэлсэн огноо</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.beginDate | date: 'yyyy-MM-dd' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Дуусах огноо</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.endDate | date: 'yyyy-MM-dd' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Бүртгэсэн огноо</div>
                                                <div class="col-md-7 font-weight-bold">
                                                    {{ contract.regDate | date: 'yyyy-MM-dd' }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-group-item-line">
                                            <div class="row">
                                                <div class="col-md-5">Төлөв</div>
                                                <div class="col-md-7">
                                                    <span
                                                        class="badge"
                                                        [class.badge-primary]="contract.status == 0"
                                                        [class.badge-success]="contract.status == 1"
                                                        [class.badge-danger]="contract.status == 2"
                                                        >{{ contract.statusName }}</span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="contract == undefined || contract == null">
                                        <div>
                                            Гэрээ байгуулаагүй байна. Гэрээ байгаалах бол
                                            <a [routerLink]="['/main/view/sd/register']"
                                                >энд дарж</a
                                            >
                                            гэрээний байгуулах хүсэлтээ явуулна уу
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="content-small">
                                <div class="content-header">
                                    Холбоо барих
                                </div>
                                <div class="content-body">
                                    <app-alert-inline
                                        [message]="message_error_message"
                                    ></app-alert-inline>
                                    <app-inline-loader *ngIf="loading_message"></app-inline-loader>
                                    <div class="list-group-item-line">
                                        <div class="row" *ngIf="contact">
                                            <div class="col-md-5">
                                                Хэлтэс
                                            </div>
                                            <div class="col-md-7 font-weight-bold" *ngIf="aimags">
                                                <select
                                                    class="custom-select"
                                                    [(ngModel)]="contact.id"
                                                >
                                                    <option
                                                        [ngValue]="item.id"
                                                        *ngFor="let item of aimags"
                                                    >
                                                        {{ item.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item-line">
                                        <div class="row" *ngIf="contact">
                                            <div class="col-md-5">
                                                Утас
                                            </div>
                                            <div class="col-md-7 font-weight-bold">
                                                {{ contact.phone }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item-line">
                                        <div class="row" *ngIf="contact">
                                            <div class="col-md-5">
                                                Имэйл
                                            </div>
                                            <div class="col-md-7 font-weight-bold">
                                                {{ contact.email }}
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div
                                        class="alert alert-warning"
                                        *ngIf="contract_moving_error_message"
                                    >
                                        {{ contract_moving_error_message }}
                                    </div>
                                    <div
                                        class="row"
                                        *ngIf="contact && contract && contract.status == 2"
                                    >
                                        <div class="col-md-5"></div>
                                        <div class="col-md-7">
                                            <button
                                                class="btn btn-default float-right"
                                                (click)="ContractMove()"
                                            >
                                                Гэрээ шилжүүлэх
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content-small">
                        <div class="content-header">
                            Төлбөрийн мэдээлэл
                            <span class="float-right">
                                <a
                                    id="dropdownMenuButton2"
                                    class="btn-icon"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                >
                                    <div class="btn-circle-label">
                                        <i class="icon ion-help"></i>
                                    </div>
                                </a>
                            </span>
                        </div>
                        <div class="content-body">
                            <app-inline-loader *ngIf="loading_payment"></app-inline-loader>
                            <div *ngIf="payment != undefined && payment.length > 0">
                                <ng5-slider
                                    [(value)]="PayMonthNum"
                                    [options]="options"
                                    (valueChange)="calc($event)"
                                ></ng5-slider>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-center">Он</th>
                                                <th scope="col" class="text-center">Сар</th>
                                                <th scope="col" class="text-center">Төлөх дүн</th>
                                                <th scope="col" class="text-center">Төлсөн</th>
                                                <th scope="col" class="text-center">Төлөв</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-template ngFor let-item [ngForOf]="payment">
                                                <tr (click)="selectPayment(item)">
                                                    <td class="text-center" style="width: 50px;">
                                                        {{ item.calYear }}
                                                    </td>
                                                    <td class="text-center" style="width: 50px;">
                                                        {{ item.calMonth }}
                                                    </td>
                                                    <td class="text-right" style="min-width: 80px;">
                                                        {{ item.amount }}
                                                    </td>
                                                    <td class="text-right" style="min-width: 80px;">
                                                        {{ item.paid }}
                                                    </td>
                                                    <td
                                                        class="text-center"
                                                        style="max-width: 70px; min-width: 70px;"
                                                    >
                                                        <i
                                                            class="icon ion-android-checkbox-outline text-success"
                                                            *ngIf="
                                                                item.status == 1 || item.status == 2
                                                            "
                                                        ></i>
                                                        <i
                                                            class="icon ion-android-checkmark-circle text-primary"
                                                            *ngIf="item.ischecked"
                                                        ></i>
                                                    </td>
                                                </tr>
                                                <tr
                                                    *ngIf="
                                                        expanded &&
                                                        item == selectedPayment &&
                                                        item.paid > 0
                                                    "
                                                >
                                                    <app-inline-loader
                                                        *ngIf="loading_transac"
                                                    ></app-inline-loader>
                                                    <td colspan="6" style="padding: 0; margin: 0;">
                                                        <div
                                                            class="row"
                                                            *ngIf="transacs != undefined"
                                                        >
                                                            <div
                                                                class="col-md-6"
                                                                style="padding: 0; margin: 0;"
                                                            >
                                                                <ul
                                                                    class="list-group"
                                                                    style="margin: 0;"
                                                                >
                                                                    <li
                                                                        class="list-group-item lightgray"
                                                                    >
                                                                        Төлөх төлбөр
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <div class="row">
                                                                            <span class="col-md-8"
                                                                                >Төлөх дүн</span
                                                                            >
                                                                            <span
                                                                                class="col-md-4 text-right font-weight-bold"
                                                                                >{{
                                                                                    item.payAmount
                                                                                }}</span
                                                                            >
                                                                        </div>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <div class="row">
                                                                            <span class="col-md-8"
                                                                                >Алданги</span
                                                                            >
                                                                            <span
                                                                                class="col-md-4 text-right font-weight-bold"
                                                                                >{{
                                                                                    item.ald
                                                                                }}</span
                                                                            >
                                                                        </div>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <div class="row">
                                                                            <span class="col-md-8"
                                                                                >Нийт дүн:
                                                                            </span>
                                                                            <span
                                                                                class="col-md-4 text-right font-weight-bold"
                                                                                >{{
                                                                                    item.amount
                                                                                }}</span
                                                                            >
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div
                                                                class="col-md-6"
                                                                style="padding: 0; margin: 0;"
                                                            >
                                                                <ul
                                                                    class="list-group"
                                                                    style="margin: 0;"
                                                                >
                                                                    <li
                                                                        class="list-group-item lightgray"
                                                                    >
                                                                        Төлсөн төлбөр
                                                                    </li>
                                                                    <li
                                                                        class="list-group-item"
                                                                        *ngFor="
                                                                            let transac of transacs
                                                                        "
                                                                    >
                                                                        <div class="row">
                                                                            <span
                                                                                class="col-md-8"
                                                                                >{{
                                                                                    transac.regDate
                                                                                        | date
                                                                                            : 'yyyy-MM-dd'
                                                                                }}</span
                                                                            >
                                                                            <span
                                                                                class="col-md-4 text-right font-weight-bold"
                                                                                >{{
                                                                                    transac.dun
                                                                                }}</span
                                                                            >
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <a><i class="icon ion-ios-arrow-left"></i></a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a><i class="icon ion-ios-arrow-right pull right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <app-alert></app-alert>
                            <div class="row" *ngIf="lastPayment">
                                <div class="col-md-7">
                                    <div *ngIf="lastPayment.status == 0">
                                        <div class="row">
                                            <span class="col-md-6">Гэрээний төлбөр: </span>
                                            <span class="col-md-6 text-left font-weight-bold">{{
                                                lastPayment.payAmount
                                            }}</span>
                                        </div>
                                    </div>
                                    <ul
                                        class="list-group"
                                        *ngIf="
                                            lastPayment.nextDate !== '0001-01-01T00:00:00' &&
                                            lastPayment.status == 1
                                        "
                                    >
                                        <li class="list-group-item lightgray">
                                            {{ lastPayment.calYear }} оны
                                            {{ lastPayment.calMonth }} сар дуустал хийх төлбөр
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <span class="col-md-8">Төлөх дүн</span>
                                                <span
                                                    class="col-md-4 text-right font-weight-bold"
                                                    >{{ lastPayment.payAmount }}</span
                                                >
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <span class="col-md-8">Алданги</span>
                                                <span
                                                    class="col-md-4 text-right font-weight-bold"
                                                    >{{ lastPayment.ald }}</span
                                                >
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <span class="col-md-8">Нийт дүн: </span>
                                                <span
                                                    class="col-md-4 text-right font-weight-bold"
                                                    >{{ lastPayment.amount }}</span
                                                >
                                            </div>
                                        </li>
                                    </ul>
                                    <div
                                        *ngIf="lastPayment.nextDate === '0001-01-01T00:00:00'"
                                        class="alert alert-primary"
                                    >
                                        Гэрээний тооцоо бодуулж дууссан байна. Гэрээ сунгах хүсэлтээ
                                        <a [routerLink]="['/main/view/sd/extend']">энд дарж</a> өгнө
                                        үү
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-default" (click)="pay()">
                                        Төлбөр төлөх
                                    </button>
                                    <br />
                                    <br />
                                    <div
                                        class="alert alert-primary"
                                        *ngIf="
                                            lastPayment.nextDate != null &&
                                            lastPayment.nextDate != undefined &&
                                            lastPayment.nextDate !== '0001-01-01T00:00:00'
                                        "
                                    >
                                        Дараагийн төлбөр төлөх сүүлийн хугацаа
                                        {{ lastPayment.nextDate | date: 'yyyy-MM-dd' }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
