.message-title {
  font-size: 1rem;
  font-weight: bold;
  color: #393f49;
  /* margin-bottom: 10px; */
}

.message-date {
  display: block;
  color: #a4a6a8;
  font-size: 0.8rem;
}

.message-desc {
  display: block;
  margin-top: 5px;
  color: #6c757d;
  font-size: 1rem;
}

.content-small .content-body {
  font-size: 10pt;
}

.list-group-item {
  color: #393f49;
  border-color: #e6ecf0;
}

.list-group-item-line {
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  color: #393f49;
  border: none;
  border-bottom: 1px solid #e6ecf0;
}

.list-group-item:hover {
  background: #e6ecf0;
}

tr {
  cursor: pointer;
}

.btn-icon {
  cursor: pointer;
}

.btn-icon:hover {
  border: #6c757d;
  color: red;
}
