.message-title {
  font-size: 1rem;
  font-weight: bold;
  color: #393f49;
  /* margin-bottom: 10px; */
}

.message-date {
  display: block;
  color: #a4a6a8;
  font-size: 0.8rem;
}

.message-desc {
  display: block;
  margin-top: 5px;
  color: #6c757d;
  font-size: 1rem;
}

.content-small .content-body {
  font-size: 10pt;
}
