<div class="row">
  <div class="col-md-6">
    <div class="content-container">
      <div class="content-medium">
        <div class="content-header">
          Төлбөр төлөх
        </div>
        <div class="content-body">
          <app-inline-loader *ngIf="loading"></app-inline-loader>
          <div class="alert alert-success" *ngIf="successmessage">{{successmessage}}</div>
          <div class="alert alert-danger" *ngIf="errormessage">{{errormessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>