<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Нийгмийн даатгал</h3>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a [routerLink]="['/salary']">
        <i class="ion-stats-bars"></i>
        НД-ын шимтгэл төлөлт
      </a>
    </li>
    <li>
      <a [routerLink]="['/pention']">
        <i class="ion-stats-bars"></i>
        Тэтгэвэр
      </a>
    </li>
    <li>
      <a [routerLink]="['/benefit']">
        <i class="ion-stats-bars"></i>
        Тэтгэмж
      </a>
    </li>
    <li>
      <a [routerLink]="['/ndans']">
        <i class="ion-stats-bars"></i>
        Нэрийн данс
      </a>
    </li>
    <li>
      <a [routerLink]="['/sd']">
        <i class="ion-stats-bars"></i>
        Сайн дурын нийгмийн даатгал
      </a>
    </li>
  </ul>
</nav>
