<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Нийгмийн даатгал</h3>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a [routerLink]="['/main/view/salary']">
        <i class="ion-stats-bars"></i>
        НД-ын шимтгэл төлөлт
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/view/pention']">
        <i class="ion-stats-bars"></i>
        Тэтгэвэр
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/view/benefit']">
        <i class="ion-stats-bars"></i>
        Тэтгэмж
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/view/ndans']">
        <i class="ion-stats-bars"></i>
        Нэрийн данс
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/view/emd']">
        <i class="ion-stats-bars"></i>
        Эрүүл мэнд
      </a>
    </li>
    <li>
      <a [routerLink]="['/main/view/refund']">
        <i class="ion-stats-bars"></i>
        Нөхөн даатгал
      </a>
    </li>
    <!-- <li>
      <a [routerLink]="['/main/view/sd']">
        <i class="ion-stats-bars"></i>
        Сайн дурын нийгмийн даатгал
      </a>
    </li> -->
  </ul>
</nav>
