<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-medium">
        <div class="content-header">
          Мэдэгдэл
        </div>
        <div class="content-body">
          <p>Та төлбөр төлөх хэлбэрээ сонгоно уу</p>
          <ul class="pay-dashboard">
            <li><a [routerLink]="['/main/view/payment/create']">
                <div><img src="assets/img/qpay-logo.jpg" alt=""></div>
                <div class="text-center">QPAY</div>
              </a></li>
            <li><a [routerLink]="['/main/view/payment/create']">
                <div><img src="assets/img/bank_card.png" alt=""></div>
                <div class="text-center">КАРТ</div>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>