.loader {
  margin: 0 0 2em;
  height: 30px;
  /* width: 20%; */
  text-align: center;
  padding: 0;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}
.loader-text {
  font-size: 10pt;
  padding-top: 10px;
  display: inline-block;
  color: #666;
}
