.wrapper {
  display: flex;
  align-items: stretch;
}
/* .sidebar {
  background: #222b37;
  min-height: 100vh;
  width: 250px;
  display: block;
  float: left;
} */

.content-container {
  display: block;
  /* float: left; */
  margin-top: 40px;
  margin-left: 0px;
  padding: 30px;
  /* width: calc(100%); */
  width: 100%;
  /* background: #14aaf5; */
}

.topbar {
  position: fixed;
  background: #fff;
  top: 0;
  left: 250px;
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  z-index: 11;
}

.topbar1 {
  position: fixed;
  background: #fff;
  top: 50px;
  left: 250px;
  width: 100%;
  height: 30px;
  /* border-bottom: 1px solid #ddd; */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.content-medium {
  clear: both;
  min-width: 600px;
  max-width: 800px;
  margin: 0 auto;
  /* z-index: -12000; */
}

.content-small {
  clear: both;
  min-width: 100px;
  max-width: 800px;
  margin: 0 auto;
  /* z-index: -12000; */
}

.content-large {
  clear: both;
  min-width: 800px;
  max-width: 1400px;
  margin: 0 auto;
  /* z-index: -11100; */
}

.content-header {
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 30px;
  position: relative;
  /* z-index: 0; */
}

.content-body {
  background: #fff;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-top: 1px;
}


/* .navbar {
    display: flex;
    z-index: 1000;
} */

.topbar-wrapper {
  clear: both;
  width: 100%;
  z-index: 0;
  position: relative;
}

.topbar-right {
  z-index: 100;
  position: fixed;
  right: 0px;
  padding: 10px 30px;
}

.topbar-left {
  padding: 10px 30px;
  float: left;
}

.title {
  padding: 10px 30px;
  text-align: center;
  border-bottom: 1px solid #848f99;
  height: 50px;
  margin-bottom: 15px;
}

.title a {
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 500;
  color: #fff;
}

.navbar {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  padding: 0px 15px;
  display: inline-block;
}

.navbar li a {
  color: #848f99;
}

.navbar li a:hover {
  color: #14aaf5;
  text-decoration: none;
}

.sidebar {
  padding: 0 0px;
}

.topbar-search {
  /* margin-top: -5px; */
  border-radius: 10px;
  height: 30px;
  width: 100%;
  max-width: 300px;
}

.input-group-addon {
  background: #fff;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.topbar-search input {
  padding-left: 0;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 10pt;
}

.list-group-item {
  background: transparent;
  color: #fff;
}

.list-group-item:hover {
  background: #848f99;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
}
.dropdown-menu {
  left: 0;
}