<nav id="sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <h3>Тоон гарын үсгээр тайлан авах</h3>
    <strong>БМ</strong>
  </div>

  <!-- Sidebar Links -->
  <ul class="list-unstyled components">
    <li class="active">
      <a [routerLink]="['/orglist']">
        <i class="ion-stats-bars"></i>
        Тайлангийн жагсаалт
      </a>
    </li>
    <!-- <li>
      <a [routerLink]="['/orgeditlist']">
        <i class="ion-stats-bars"></i>
        Буцаах тайлангийн жагсаалт
      </a>
    </li> -->
    <li>
      <a href="#settingSubmenu" data-toggle="collapse" aria-expanded="false">
        <i class="ion-ios-gear"></i>
        Тохиргоо
      </a>
      <ul class="collapse list-unstyled" id="settingSubmenu">
        <li>
          <a [routerLink]="['/inventory/settings', 'Warehouse']">Тохиргоо</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
