body {
  background: #fff !important;
}

.login-logo {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px;
}

.login-logo-text {
  color: #50514f;
  font-size: 12pt;
  font-weight: bold;
}

.login-form-input {
  border-radius: 0;
  border: none;
  border-bottom: #e0e6e8 solid 1px;
  background: none;
  margin: 30px 0;
}

.login-form-input-text {
  border-radius: 0;
  border: none;
  width: calc(100% - 30px);
}

.login-form-input-icon {
  color: #ced4da;
}

.login-btn {
  /* background: #F8C63F; */
  background: -webkit-linear-gradient(to right, #F8C63F, #FBD786);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8C63F, #FBD786);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  color: #50514f;
  font-weight: bold;
  margin-top: 15px;
}

.login-form-link {
  padding-left: 30px;
  font-size: 10pt;
}

.left-arrow::before {
  position: absolute;
  top: calc(50% - 5px);
  left: -4px;
  width: 10px;
  height: 10px;
  border: none;
  background: #ff5263;
  transform: rotate(45deg);
  content: '';
}

.is-invalid {
  border-bottom: #ff5263 solid 1px;
}

.list-group-item {
  color: #50514f;
}

.list-group-item:hover {
  background: #fff;
}

.pad-bottom-200 {
  padding-bottom: 200px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .pad-bottom-200 {
    padding-bottom: 0px;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .pad-bottom-200 {
    padding-bottom: 0px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  .pad-bottom-200 {
    padding-bottom: 0px;
  }
}
