<div class='back'>
  <re-captcha size="invisible" #captchaRef="reCaptcha" (resolved)="$event && resetpassword($event)"
    siteKey="6Lf5l3AUAAAAAOM97Bcnewt1wjYTFKta6HtW2al4"></re-captcha>
  <div class='container'>
    <div style="padding-bottom: 50px;"></div>
    <div class='row'>
      <div class="col"></div>
      <div class="col-md-4">
        <div class="login-logo text-center">
          <img class="login-logo-img" src="../../assets/img/logo.svg" alt="" height="100px">
          <div class="login-logo-text">Нийгмийн даатгал</div>
        </div>
        <div class="login-form">
          <div class='form-group full-width'>
            <div class="row login-form-input form-control">
              <!-- <span class="col-1">
                <i class="ion-person login-form-input-icon"></i>
              </span> -->
              <span class="col">
                <input class="login-form-input-text" name="Email" placeholder="Имэйл хаяг" type="email"
                  [(ngModel)]="email">
              </span>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="errormessage!=undefined">{{errormessage}}</div>
          <div class="alert alert-info" *ngIf="success_message!=undefined">{{success_message}}</div>
        </div>
        <button class="login-btn" (click)='captchaRef.execute()'>
          <span *ngIf="loading">Уншиж байна...</span>
          <span *ngIf="!loading">Нууц үг сэргээх</span>
        </button>
        <div style="text-align: center;width: 100%;">
          <a class='login-form-link' routerLink="/account/login" style="margin-left: 0;padding-left: 0;">Нэвтрэх
            цонхруу буцах</a>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  <!-- <div class="row">
      <div style="background: #00674d; height: 100px; width: 100%; position: absolute; bottom: 0;">a</div>
    </div> -->
</div>
