<div class="back">
  <div class="container">
    <div style="padding-bottom: 15px;"></div>
    <div class="row">
      <div class="col">
        <div class="pad-bottom-200"></div>
        <div [innerHTML]="info_message" class="alert alert-info" *ngIf="info_message != undefined"></div>
      </div>
      <div class="col-md-4">
        <div class="login-logo text-center d-none d-md-block">
          <img class="login-logo-img" src="../../assets/img/logo.svg" alt="" height="100px" />
          <div class="login-logo-text">Нийгмийн даатгал</div>
        </div>
        <div class="login-form">
          <app-inline-loader *ngIf="loading"></app-inline-loader>
          <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
            <div class="row py-1">
              <div class="col">
                <small class="text-primary">Регистрийн дугаар</small>
                <div class="login-form-input form-control">
                  <input id="RegID" name="RegID" class="login-form-input-text" required minlength="10"
                    [(ngModel)]="user.RegID" #RegID="ngModel" [readonly]="isedit" />
                </div>
                <div *ngIf="(f.submitted && RegID.invalid) || (RegID.invalid && (RegID.dirty || RegID.touched))"
                  class="text-danger font-italic">
                  <small *ngIf="RegID.errors.required">*Регистрийн дугаар оруулаагүй байна.</small>
                  <small *ngIf="RegID.errors.minlength">*Регистрийн дугаар 10 тэмдэгт байх ёстой</small>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <small class="text-primary">Ургийн овог</small>
                <div class="login-form-input form-control">
                  <input id="sur_name" name="SurName" class="login-form-input-text" type="text"
                    [(ngModel)]="user.SurName" maxlength="500" #SurName="ngModel" required />
                </div>
                <div *ngIf="(f.submitted && SurName.invalid) || (SurName.invalid && (SurName.dirty || SurName.touched))"
                  class="text-danger font-italic">
                  <small *ngIf="SurName.errors.required">*Ургийн овог оруулаагүй байна.</small>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <small class="text-primary">Эцэг/эхийн нэр</small>
                <div class="login-form-input form-control">
                  <input id="last_name" name="LastName" class="login-form-input-text" type="text"
                    [(ngModel)]="user.LastName" maxlength="500" #LastName="ngModel" required />
                </div>
                <div
                  *ngIf="(f.submitted && LastName.invalid) || (LastName.invalid && (LastName.dirty || LastName.touched))"
                  class="text-danger font-italic">
                  <small *ngIf="LastName.errors.required">*Эцэг/эхийн нэр оруулаагүй байна.</small>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <small class="text-primary">Өөрийн нэр</small>
                <div class="login-form-input form-control">
                  <input id="first_name" name="FirstName" class="login-form-input-text" type="text"
                    [(ngModel)]="user.FirstName" maxlength="500" #FirstName="ngModel" required />
                </div>
                <div
                  *ngIf="(f.submitted && FirstName.invalid) || (FirstName.invalid && (FirstName.dirty || FirstName.touched))"
                  class="text-danger font-italic">
                  <small *ngIf="FirstName.errors.required">*Нэр оруулаагүй байна.</small>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <small class="text-primary">Цахим шуудан</small>
                <div class="login-form-input form-control">
                  <input class="login-form-input-text" name="Email" type="email" [(ngModel)]="user.Email"
                    maxlength="100" #Email="ngModel" required email />
                </div>
                <div *ngIf="(f.submitted && Email.invalid) || (Email.invalid && (Email.dirty || Email.touched))"
                  class="text-danger font-italic">
                  <small *ngIf="Email.errors.required">*Цахим шуудан оруулаагүй байна.</small>
                  <small *ngIf="Email.errors.email">*Цахим шуудан буруу байна.</small>
                </div>
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <small class="text-primary">Утасны дугаар</small>
                <div class="login-form-input form-control">
                  <input id="phone" class="login-form-input-text" name="Phone" [(ngModel)]="user.Phone" minlength="8"
                    #Phone="ngModel" required />
                </div>
                <div *ngIf="(f.submitted && Phone.invalid) || (Phone.invalid && (Phone.dirty || Phone.touched))"
                  class="text-danger font-italic">
                  <small *ngIf="Phone.errors.required">*Утасны дугаар оруулаагүй байна.</small>
                  <small *ngIf="Phone.errors.minlength">*Утасны дугаар 8 тэмдэгт байх ёстой</small>
                </div>
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="errormessage != undefined">
              {{ errormessage }}
            </div>
            <div class="alert alert-info" *ngIf="success_message != undefined">
              {{ success_message }}
            </div>
            <button type="submit" class="login-btn disabled" [disabled]="loading">
              <span *ngIf="loading">Уншиж байна...</span>
              <span *ngIf="!loading">{{ btn_register_caption }}</span>
            </button>
            <div class="row" style="width: 100%">
              <div class="col-6" style="text-align: center; padding: 0; margin: 0;">
                <a class='login-form-link' href="https://sso.gov.mn/register/">ДАН-аар бүртгүүлэх</a>
              </div>
              <div class="col-6" style="text-align: center; padding: 0; margin: 0;">
                <a class="login-form-link" routerLink="/account/login" style="margin-left: 0;padding-left: 0;">Нэвтрэх
                  цонхруу буцах</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#register").inputmask("Regex", {
    regex: "^[А-Яа-яӨҮөүЁёà-ÿÀ-ßª¯¨ÿº¿¸]{2}[0-9]{2}[0-9]{1}[0-9]{1}[0-9]{1}[0-9]{3}$"
  });
  $("#phone").inputmask("Regex", {
    regex: "^[0-9]{8}"
  });
  $("#first_name").inputmask("Regex", {
    regex: "^[А-Яа-яӨҮөү]{40}$"
  });
  $("#last_name").inputmask("Regex", {
    regex: "^[А-Яа-яӨҮөү]{40}$"
  });

</script>
