<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-large">
        <div class="content-header">
          <span *ngIf="!extend">Гэрээний бүртгэл</span>
          <span *ngIf="extend">Гэрээний сунгалт</span>
        </div>
        <div class="content-body">
          <app-inline-loader *ngIf="loading"></app-inline-loader>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="ddpCountry" class="col-sm-5 col-form-label">Оршин суугаа улс</label>
                <div class="col-sm-7">
                  <select class="form-control" id="ddpCountry" [(ngModel)]='contract.CountryId'>
                    <option value="0">-</option>
                    <option [ngValue]="item.id" *ngFor='let item of Countries'>
                      {{item.name}}
                    </option>
                  </select>
                  <div *ngIf="postback && contract.Class == 0" class="text-danger font-italic">
                    <small>*Оршин суугаа улс байна.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ddpAMClass" class="col-sm-5 col-form-label">Ажил, мэргэжил</label>
                <div class="col-sm-7">
                  <select class="form-control" id="ddpAMClass" [(ngModel)]='contract.Class' [compareWith]="byId">
                    <option value="0">-</option>
                    <option [ngValue]="item" *ngFor='let item of AMClasses'>
                      {{item.name}}</option>
                  </select>
                  <div *ngIf="postback && contract.Class == 0" class="text-danger font-italic">
                    <small>*Ажил мэргэжил сонгоогүй байна.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ddpLength" class="col-sm-5 col-form-label">Хугацаа</label>
                <div class="col-sm-7">
                  <select class="form-control" id="ddpLength" [(ngModel)]='contract.Length'>
                    <option value="12">12</option>
                  </select>
                  <div *ngIf="postback && contract.Length == 0" class="text-danger font-italic">
                    <small>*Гэрээний уртыг сонгоогүй байна.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ddpPeriod" class="col-sm-5 col-form-label">Төлбөр төлөх давтамж</label>
                <div class="col-sm-7">
                  <select class="form-control" id="ddpPeriod" [(ngModel)]='contract.ContractPeriod'
                    [compareWith]="byId">
                    <option [ngValue]="item" *ngFor='let item of Periods'>{{item.name}}</option>
                  </select>
                  <div *ngIf="postback && contract.ContractPeriod == 0" class="text-danger font-italic">
                    <small>*Төлбөр төлөх давтамж сонгоогүй байна.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="txtIncome" class="col-sm-5 col-form-label">Сарын орлого</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control text-right" id="txtIncome" [(ngModel)]='contract.Income'
                    mask="separator" placeholder="0" (keyup)='onChangeIncome($event)'>
                  <div *ngIf="postback && (contract.Income == undefined || contract.Income == 0)"
                    class="text-danger font-italic">
                    <small>*Сарын орлого оруулаагүй байна.</small>
                    <small *ngIf="contract.Income">*Сарын орлого хөлөлмөрийн хөлсний доод хэмжээ
                      {{MinSalary}}-аас их байх ёстой.</small>
                  </div>
                  <div *ngIf="changedIncome" class="text-danger font-italic">
                    <small>*Сарын орлого хөлөлмөрийн хөлсний доод хэмжээ {{MinSalary}}-аас их байх ёстой.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="ddpBank" class="col-sm-5 col-form-label">Банк</label>
                <div class="col-sm-7">
                  <select class="form-control" id="ddpBank" [(ngModel)]='contract.Account' [compareWith]="byCode">
                    <option value="0">-</option>
                    <option [ngValue]="item" *ngFor='let item of Banks'>{{item.bankName}}</option>
                  </select>
                  <div *ngIf="postback && contract.Account == 0" class="text-danger font-italic">
                    <small>*Төлбөр төлөх банкаа сонгоогүй байна.</small>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-5">
                  <button class="btn btn-primary" (click)='register()'>Хадгалах</button>
                </div>
              </div>
              <div class="alert alert-danger" *ngIf="errormessage">
                {{errormessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>