body {
  font-family: Roboto;
}

.btn-primary {
  background: #14aaf5;
  border: none;
  color: #fff;
  padding: 8px 15px;
}

.btn-noborder {
  border: none;
  background: transparent;
}

.btn-circle {
  background: #fff;
  border: 1px solid #b7bfc6;
  border-radius: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #b7bfc6;
  fill: #b7bfc6;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 13px;
  height: 30px;
  line-height: 1;
  -webkit-transition: 200ms box-shadow, 200ms color, 200ms background, 200ms fill;
  transition: 200ms box-shadow, 200ms color, 200ms background, 200ms fill;
  width: 30px;
  display: inline-block;
}

.btn-circle:hover {
  border: 1px solid #14aaf5;
  color: #14aaf5;
}

.btn-circle-label {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.btn-circle i {
  font-size: 20px;
}

.dropdown-menu a i {
  padding-right: 15px;
}

.dropdown-menu a {
  color: #151b26;
}

input,
select {
  font-size: 10pt !important;
}

.modal-large {
  min-width: 80vw;
}

.modal-body .content-container {
  margin-top: 0;
  padding: 0;
}

.alert-info,
.badge-info {
  background: #14aaf5;
  color: #fff;
}

.alert-danger,
.badge-danger,
.btn-danger {
  background: #ff5263;
  color: #fff;
}

.alert-success,
.badge-success {
  background: #25e8c8;
  color: #fff;
}

.btn-success {
  border: none;
  background: #25e8c8;
  color: #000;
}

.alert-warning,
.badge-warning,
.btn-warning {
  background: #fcbd01;
  color: #fff;
}


/* Begin */

.content-medium {
  clear: both;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  margin: 0 auto;
  /* z-index: -12000; */
}

.content-small {
  clear: both;
  min-width: 100px;
  max-width: 500px;
  margin: 15px;
  /* z-index: -12000; */
}

.content-large {
  clear: both;
  min-width: 800px;
  max-width: 1400px;
  margin: 0 auto;
  /* z-index: -11100; */
}

.content-header {
  background: #fff;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 15px 30px;
  position: relative;
  /* z-index: 0; */
}

.content-body {
  background: #fff;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-top: 1px;
}

.title {
  padding: 10px 30px;
  text-align: center;
  border-bottom: 1px solid #848f99;
  height: 50px;
  margin-bottom: 15px;
}

.title a {
  text-transform: uppercase;
  font-size: 13pt;
  font-weight: 500;
  color: #fff;
}

.list-group-item {
  background: transparent;
  color: #fff;
}

.list-group-item:hover {
  background: #848f99;
}

.itable {
  font-size: 10pt;
  border: 1px solid #ccc;
}

.itable th {
  font-size: 11pt;
  font-weight: 400;
  text-align: center;
  background: #14aaf5;
  border: none;
  color: #fff;
  padding: 5px;
}

.itable td {
  padding: 5px;
  border: 1px solid #ccc;
}

/* End */

@media print {
  body {
    font-size: 12pt;
    background: #fff;
  }

  td,
  th {
    font-weight: normal;
    border: 1px solid #000 !important;
  }

}
