<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-large">
        <div class="content-header">
          Мэдэгдлүүд
        </div>
        <div class="content-body">
          <div class="search-box">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="icon ion-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Хайх" aria-label="Хайх"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <ul class="list-group list-group-flush rui-profile-activity-list">
            <li class="list-group-item">
              <div class="media media-retiring media-success">
                <a class="media-link" href="#/profile"><span class="media-img"><img src="./assets/images/avatar-5.png"
                      alt=""></span><span class="media-body"><span class="media-title">Amber Smith<div
                        class="media-time">2019-10-30 09:10</div>
                    </span><small class="media-subtitle">Amet viverra dolor per mollis morbi sagittis cursus
                      sollicitudin cubilia.</small></span></a><a class="media-icon" href="#/profile">
                </a></div>
            </li>
            <li class="list-group-item">
              <div class="media media-retiring media-warning">
                <a class="media-link" href="#/profile"><span class="media-img"><img src="./assets/images/avatar-3.png"
                      alt=""></span><span class="media-body"><span class="media-title">Avice Harris<div
                        class="media-time">2019-10-30 09:02</div>
                    </span><small class="media-subtitle">Conubia porta Fusce sollicitudin ullamcorper fringilla.
                      Varius id egestas magna.</small></span></a><a class="media-icon" href="#/profile">
                </a></div>
            </li>
            <li class="list-group-item">
              <div class="media media-retiring media-danger">
                <a class="media-link" href="#/profile"><span class="media-img"><img src="./assets/images/avatar-4.png"
                      alt=""></span><span class="media-body"><span class="media-title">Anna Rice<div class="media-time">
                        2019-10-30 08:46</div>
                    </span><small class="media-subtitle">Ultricies convallis class Ornare cum ligula aenean. Leo
                      dictum aliquam.</small></span></a><a class="media-icon" href="#/profile">
                </a></div>
            </li>
            <li class="list-group-item">
              <div class="media media-retiring">
                <a class="media-link" href="#/profile"><span class="media-img bg-transparent"><img
                      src="./assets/images/icon-zip.svg" class="icon-file" alt=""></span><span class="media-body"><span
                      class="media-title">Added banner archive<div class="media-time">2019-10-30 08:31</div>
                    </span><small class="media-subtitle">Commerce</small></span></a><a class="media-icon"
                  href="#/profile">
                </a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
