<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-large">
        <div class="content-header">
          Мэдэгдлүүд
        </div>
        <div class="content-body">
          <div class="search-box">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                  <i class="icon ion-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Хайх" aria-label="Хайх"
                aria-describedby="basic-addon1">
            </div>
          </div>
          <ul class="list-group list-group-flush rui-profile-activity-list">
            <li class="list-group-item" [class.unread]='!msg.isread'
              *ngFor='let msg of messages | paginate: { itemsPerPage: 10, currentPage: p }'>
              <div class="media media-retiring media-success">
                <a class="media-link">
                  <span class="media-body">
                    <span class="media-title">{{msg.title}}<div class="media-time">{{msg.regdate}}</div></span>
                    <small class="media-subtitle">{{msg.desc}}</small></span>
                </a>
              </div>
            </li>
          </ul>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
