<div class="row">
  <div class="col-md-12">
    <div class="content-container">
      <div class="content-large">
        <div class="content-header">
          Төлбөрийн мэдээлэл
        </div>
        <div class="content-body">
          <div class="row">
            <div class="col-5">

            </div>
            <div class="col-7">
              <table class="itable">
                <thead>
                  <tr>
                    <th>Он</th>
                    <th>Сар</th>
                    <th>Сарын орлого</th>
                    <th>Төлөх дүн</th>
                    <th>Төлөх хугацаа</th>
                    <th>Төлсөн дүн</th>
                    <th>Төлсөн огноо</th>
                    <th>Төлөв</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2018</td>
                    <td>1</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>2</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>3</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>4</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>5</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>6</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>7</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>8</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>9</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>10</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>11</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                  <tr>
                    <td>2018</td>
                    <td>12</td>
                    <td>240000</td>
                    <td>31200</td>
                    <td>2018-01-31</td>
                    <td>31200</td>
                    <td>2018-01-20</td>
                    <td><span class="badge badge-primary">төлөгдсөн</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
