<div class="row">
    <div class="col-md-12">
        <div class="content-container">
            <div class="content-large">
                <div class="content-header">
                    Цалингийн мэдээлэл /2005 оноос хойш/
                </div>
                <div class="content-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="d-flex">
                                        <div class="mx-2">
                                            <input
                                                type="number"
                                                class="form-control"
                                                [(ngModel)]="byear"
                                                id="byear"
                                                style="width: 80px;"
                                            />
                                        </div>
                                        <div class="mx-2">
                                            <input
                                                type="number"
                                                class="form-control"
                                                [(ngModel)]="eyear"
                                                id="eyear"
                                                style="width: 80px;"
                                            />
                                        </div>
                                        <div class="mx-2">
                                            <button
                                                class="btn btn-outline-primary form-control"
                                                (click)="getSalary()"
                                            >
                                                <i class="ion-search px-2"></i>
                                                <span class="d-none d-md-inline">Хайх</span>
                                            </button>
                                        </div>
                                        <div
                                            class="mx-2"
                                            *ngIf="salaries != undefined && salaries.length > 0"
                                        >
                                            <button
                                                class="btn btn-outline-success form-control"
                                                (click)="printContent()"
                                            >
                                                <i class="ion-ios-printer px-2"></i>
                                                <span class="d-none d-md-inline">Хэвлэх</span>
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <app-inline-loader *ngIf="isloading"></app-inline-loader>
                                    <div
                                        class="alert alert-warning"
                                        *ngIf="
                                            (salaries == undefined || salaries.length == 0) &&
                                            !isloading &&
                                            !isFirstLoad
                                        "
                                    >
                                        Мэдээлэл алга
                                    </div>
                                </div>
                            </div>
                            <div
                                id="printArea"
                                *ngIf="salaries != undefined && salaries.length > 0"
                            >
                                <div class="print-content">
                                    <div class="page" *ngFor="let page of pages; first as isFirst">
                                        <div class="page-header">
                                            <div class="row">
                                                <div class="row" style="height: 150px;">
                                                    <div class="col-2">
                                                        <img
                                                            src="assets/img/soyombo.png"
                                                            height="120px"
                                                            style="
                                                                margin-top: 10px;
                                                                margin-left: 5px;
                                                            "
                                                        />
                                                    </div>
                                                    <div class="col-8">
                                                        <div>
                                                            <div style="padding-top: 20px;">
                                                                <h1 class="main-title">
                                                                    НИЙГМИЙН ДААТГАЛЫН ЕРӨНХИЙ ГАЗАР
                                                                </h1>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <img
                                                            src="assets/img/logo.svg"
                                                            height="100px"
                                                            style="margin-top: 10px;"
                                                        />
                                                        <div
                                                            style="
                                                                position: absolute;
                                                                bottom: 0;
                                                                width: 300px;
                                                                right: 0;
                                                                overflow: visible;
                                                                text-align: right;
                                                                margin-right: 25px;
                                                                font-size: 8pt;
                                                            "
                                                        >
                                                            Нийгмийн даатгалын ерөнхий газрын даргын
                                                            2018 оны 11 дугаар сарын 27-ний өдрийн
                                                            А/204 тоот тушаалын нэгдүгээр хавсралт
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <img src="assets/img/alhan.png" alt="" class="line" />
                                            <div class="row">
                                                <div class="col">
                                                    {{ today | date: 'yyyy.MM.dd' }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2"></div>
                                                <div class="col">
                                                    <h1 class="sub-title">
                                                        НИЙГМИЙН ДААТГАЛЫН ШИМТГЭЛ ТӨЛӨЛТИЙН ТАЛААРХ
                                                        ТОДОРХОЙЛОЛТ
                                                    </h1>
                                                </div>
                                                <div class="col-2"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    Даатгуулагчийн
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">Овог: {{ person.lastName }}</div>
                                                <div class="col-4">Нэр: {{ person.firstName }}</div>
                                                <div class="col-4">Регистр: {{ person.regID }}</div>
                                            </div>
                                        </div>
                                        <div></div>
                                        <div class="table-responsive">
                                            <table class="rtable">
                                                <thead [class.show-in-print]="!isFirst">
                                                    <tr
                                                        style="font-size: 10pt; text-align: center;"
                                                    >
                                                        <th rowspan="2">Хэлтсийн нэр</th>
                                                        <th rowspan="2">Ажил олгогчийн код</th>
                                                        <th rowspan="2">Ажил олгогчийн нэр</th>
                                                        <th rowspan="2">Он</th>
                                                        <th rowspan="2">Сар</th>
                                                        <th colspan="2">Даатгуулагч</th>
                                                        <th rowspan="2">
                                                            Ажил олгогч шимтгэл төлсөн эсэх
                                                        </th>
                                                        <th rowspan="2">Ажил мэргэжлийн код</th>
                                                    </tr>
                                                    <tr
                                                        style="font-size: 10pt; text-align: center;"
                                                    >
                                                        <th>Цалин</th>
                                                        <th>Төлөх шимтгэл</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let salary of page"
                                                        style="font-size: 10pt;"
                                                    >
                                                        <td
                                                            style="
                                                                text-align: center;
                                                                width: 120px;
                                                            "
                                                        >
                                                            {{ salary.domName }}
                                                        </td>
                                                        <td
                                                            style="text-align: center; width: 80px;"
                                                        >
                                                            {{ salary.orgndid }}
                                                        </td>
                                                        <td
                                                            style="text-align: center;"
                                                            class="small-text"
                                                        >
                                                            {{ salary.orgname }}
                                                        </td>
                                                        <td
                                                            style="text-align: center; width: 40px;"
                                                        >
                                                            {{ salary.year }}
                                                        </td>
                                                        <td
                                                            style="text-align: center; width: 30px;"
                                                        >
                                                            {{ salary.month }}
                                                        </td>
                                                        <td
                                                            style="
                                                                text-align: right;
                                                                width: 80px;
                                                                font-size: 8pt;
                                                            "
                                                        >
                                                            {{ salary.salary | currency: '':'' }}
                                                        </td>
                                                        <td
                                                            style="
                                                                text-align: right;
                                                                width: 80px;
                                                                font-size: 8pt;
                                                            "
                                                        >
                                                            {{ salary.shim | currency: '':'' }}
                                                        </td>
                                                        <td
                                                            style="text-align: center; width: 90px;"
                                                        >
                                                            {{ salary.ispayed }}
                                                        </td>
                                                        <td
                                                            style="text-align: center; width: 90px;"
                                                        >
                                                            {{ salary.occcode }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="page-footer">
                                            <div class="row">
                                                <div
                                                    class="col"
                                                    style="font-size: 10pt; padding-top: 15px;"
                                                >
                                                    Жич: Энэхүү тодорхойлолтыг
                                                    https://data.ndaatgal.mn:8081/checklav цахим
                                                    хуудсанд хандаж баталгаажуулах кодоор үнэн
                                                    эсэхийг шалгах боломжтой.
                                                </div>
                                            </div>
                                            <div class="bottom-footer">
                                                <img
                                                    src="assets/img/alhan.png"
                                                    alt=""
                                                    class="line"
                                                    style="margin-top: -5px;"
                                                />
                                                <div class="row">
                                                    <div class="col">
                                                        <img
                                                            src="{{ qrCodeData }}"
                                                            width="100px"
                                                            style="margin-top: -8px;"
                                                        />
                                                        <span>{{ qrCode }}</span>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div
                                                                class="col"
                                                                style="
                                                                    font-size: 10pt;
                                                                    text-align: right;
                                                                    font-family: Arial;
                                                                    font-weight: 400;
                                                                "
                                                            >
                                                                Хүчинтэй хугацаа 30 хоног
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
